@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

:root {
  --grey: rgba(50, 50, 50, 1);
  --black: #000000;
  --off-white: #c7c6c6;
  --yellow: #f4e17a;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(73, 72, 72);
  background: linear-gradient(45deg, var(--grey) 0%, var(--black) 100%);
}
/* title  styling*/
h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: var(--off-white);
  font-size: 7rem;
  margin-bottom: 0.2rem;
}
/* input text box styling */
#name-input {
  width: 28rem;
  border: none;
  border-bottom: 0.5px solid var(--yellow);
  background: transparent;
  margin-bottom: 1rem;
}
input::placeholder {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
  font-weight: lighter;
  color: var(--off-white);
}
input:focus {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
  font-weight: lighter;
  color: var(--off-white);
  outline: none;
}
/* select button  styling*/
button {
  width: 28rem;
  height: 3rem;
  border: 0px;
  background-color: grey;
  color: var(--off-white);
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  background: rgb(73, 72, 72);
  background: linear-gradient(45deg, var(--grey) 0%, var(--black) 100%);
}
button:focus {
  outline: none;
}
/* name styling */
.name {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: var(--yellow);
}
.name.selected {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: white;
  background-color: var(--off-white);
}
